.section-electro {
    display: flex;
    flex-wrap: wrap;
}

.section-electro .electro:hover {
    cursor: pointer;
}

.section-electro .electro:hover h2 {
    color: #ff0000;
    transition: 0.6s ease-in-out;
}

.electro {
    padding: 20px;
}

.img-elec img {
    border-radius: 10px;
}

.subtitulo h2{
    font-size: 16px;
    margin: 20px 0 0;
    line-height: 16px;
    letter-spacing: .02em;
    text-align: center;
    color: #3f3f40;
    font-weight: 400;
}